body {
    font-family: 'Lato';
    background-color: #f4f6f7;
}

header {
    /*    border: 1px solid black;*/
    width: 100%;
    background-color: #3498db;
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    color: #ecf0f1;
    display: inline;
}

i {
    color: #ecf0f1;
}

header > * {
    text-shadow: 1px 0.9px 4px rgba(0, 0, 0, 0.6);
}

nav > button {
    background-color: #eb6725;
    color: #ecf0f1;
    font-weight: bold;
}

#content a {
    color: #eb6725;
}

div.stream {
    /*    border: 1px solid black;*/
}

/* Loading Animation */

#loading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

#loading i{
    padding-top: px;
}

#loading p{
    display: inline;
    font-size: 1.1em;
    letter-spacing: 3px;
    color: #3498db;
    font-style: italic;
}

.hidden{
    display: none;
}

.fa-spinner{
    color: #3498db;
}
@media all and (max-width: 500px) {
    header {
        height: 100%;
    }
    #headerText {
        text-align: center;
        padding-top: 20px;
    }
    h1 {
        margin: 0 10px;
        font-size: 1.8em;
    }
    .fa {
        font-size: 1.5em;
    }
    nav {
        display: flex;
        margin-top: 20px;
        text-align: center;
    }
    nav > button {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 30px;
        border-right: 1px solid rgba(28, 40, 51, 0.4);
        box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.4);
        border-bottom-right-radius: 4px;
    }
    nav > button:last-child {
        border-right: none;
    }

    button:hover{
        background-color: #e16425;
    }
    button:active{
        box-shadow: 0 2px rgba(0,0,0, 0.2);
    }

    .stream {
        display: flex;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    #mainWrapper {
        margin-top: 1px;
    }

    img {
        width: 80px;
        height: 80px;
        display: block;
    }
    .stream_desc > p {
        padding: 0;
        margin: 5px 15px 0 15px;
        color: #3498db;
    }
    .stream_desc > p:last-child {
        padding-top: 10px;
        font-size: .8em;
    }
    .stream_desc {}
    .username {
        padding-top: 50px;
        float: left;
        clear: both;
    }

    .status_live:after, .status_offline:after{
        padding-left: 5px;
        vertical-align: middle;
        font-family: FontAwesome;
        font-size: 1.5em;
    }
    .status_live:after {
        content: "\f205";
        color: green;
    }
    .status_offline:after {
        content: "\f204";
        color: black;
    }
    .status {
        position: absolute;
        right: 0;
        text-align: right;
        float: right;
        font-size: 0.8em;
    }
    .game {
        clear: both;
        margin-top: 15px;
    }
}

@media all and (min-width: 501px) and (max-width: 800px){

}

/*TODO: Move all colors outside of media query*/
/*TODO[x]: Display "loading" message along with icon in the middle of page*/
/*TODO[x]: Change "live" icon. */
/*TODO: Make media query for max 800px*/
/*TODO: Make media query for min 1200px and above*/
